.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    justify-items: center;
    padding: 92px 50px 96px 50px;
}

.header__menu {
    justify-self: start;
}

.header__links-list {
    display: flex;
    gap: 26px;
    list-style-type: circle;
    padding-inline-start: 0;
    text-underline-offset: 4.5px;
}

.header__links-list-item {
    font-size: 19px;
    font-weight: 400;
    color: #000;

}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    display: block;
    width: 138px;
    height: 105px;
}

.address {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
    color: #000;
    text-underline-offset: 4.5px;
}

.address__header {
    margin-left: 157px;
}


.cover {
    position: relative;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 180px;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
}

.cover__title {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 21px;
    padding: 165px 50px 106px 50px;
    font-weight: 700;
    font-size: 100px;
    line-height: 1.15;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #fff;
}

.aligned-text_center {
    display: block;
    text-align: center;
}

.aligned-text_right {
    display: block;
    text-align: right;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    padding: 0 50px 50px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cover__description-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.27273;
    text-transform: uppercase;
    color: #fff;
    word-spacing: 19px;
}

.bet-button {
    cursor: pointer;
    padding: 12px 32px 11px 31px;
    border: 1px solid #fff;
    background: none;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.lots {
    margin-bottom: 120px;
}

.lots__heading {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #000;
    padding-left: 64px;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    padding: 27px 24px 30px;
}

.lots__card-list-item {
    list-style-type: none;
}

.card-link {
    text-decoration: none;

}

.card {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 40px;
    width: 334px;
    min-height: 596px;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg)
}

.card__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fff;
    position: relative;
}

.card__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: #fff;
    position: relative;
    text-decoration: none;
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg)
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg)
}

.lots__look-more-link {
    padding-top: 30px;
    padding-left: 64px;
    font-weight: 400;
    font-size: 20px;
    color: #000;
    text-underline-offset: 4.5px;

}

.about {
    display: grid;
    grid-template-columns: 334px auto;
    gap: 0 25px;
    align-items: start;
    justify-items: center;
    padding: 0 24px 0 24px;
    margin-bottom: 180px;
}

.about__logo {
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;

}

.about__logo-image {
    width: 148px;

}

.about__column:nth-child(2) {
    justify-self: left;
    align-self: center;
}

.about__column:nth-child(3) {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about__title {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #000;
    margin-top: 42px;
}

.about__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    color: #000;
    margin-top: 3px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    padding: 0 50px 82px;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: end;
}

.footer__menu-list-item {
    list-style-type: none;
}

.footer__menu-link {

    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #000;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    justify-self: end;
    gap: 48px;
}

.footer__social-list-item {
    list-style-type: none;
}

.footer__social-link {}

.footer__social-icon {
    width: 48px;
    height: 48px;
}